.header-content{
    min-height: 45vh;
    background: linear-gradient(rgba(106, 166, 209, 0.3), rgba(74, 168, 176, 0.885));
    flex-direction: column;
}
.header-title{
    font-size: 3.5rem;
    color: rgb(12, 92, 92);
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}